*,
*:before,
*:after {
  box-sizing: border-box;
}

#die {
  display: grid;
  grid-template-areas:
    "a . c"
    "e g f"
    "d . b";
  margin: 16px;
  padding: 12px 12px 2px;
  background: #e7e7e7;
  width: 100px;
  height: 100px;
  object-fit: contain;
  justify-content: space-between;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
  border-radius: 10%;
}

.pip {
  display: block;
  width: 23px;
  height: 23px;
  top: 50%;
  border-radius: 50%;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

/* placing pips */
.pip:nth-child(2) {
  grid-area: b;
}

.pip:nth-child(3) {
  grid-area: c;
}

.pip:nth-child(4) {
  grid-area: d;
}

.pip:nth-child(5) {
  grid-area: e;
}

.pip:nth-child(6) {
  grid-area: f;
}

.pip:nth-child(odd):last-child {
  grid-area: g;
}
